// Variables Globales

//colors
$mainColor:#A680BF;
$secondaryColor:#E895C8;
$greyColor:#3C3D40;
$lGreyColor:rgb(191, 186, 176);
$white:rgb(250, 250, 250);
$whiteOColor:rgba(242, 242, 242, 0.7);
$whiteBgColor: rgb(246, 246, 246);
$black:rgb(37, 37, 37);

//sizing
$w-100:100%;
$w-50:50%;

