// Contacto 

/*Botones Formulario*/

#btnEnviar{
	background-color:$greyColor;
	color: $white;
	font-family: $mainFont;
	font-size: $textXs;
}

	#btnEnviar:hover {
  		background-color: #999999;
	}


#btnCancelar{
	background-color: #DB2B30;
	color: $white;
	font-family: $mainFont;
	font-size: $textXs;
}

	#btnCancelar:hover {
	background-color: #BF1412;
	}


